<form action="/cards/<%= card._id %>/edit" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= card.name %>">
    </div>
    <div class="form-group">
      <label for="front_text">Front Text:</label>
      <textarea class="form-control" id="front_text" name="front_text"><%= card.front_text %></textarea>
    </div>
    <div class="form-group">
      <label for="back_text">Back Text:</label>
      <textarea class="form-control" id="back_text" name="back_text"><%= card.back_text %></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags:</label>
      <input type="text" class="form-control" id="tags" name="tags" value="<%= card.tags.join(',') %>">
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>