<body>
    <div class="text-center">
        <h2>Details</h2>
    </div>
    <div class="container" style="width: 40%; background-color: whitesmoke; padding: 10px; border-radius:5px">
        <div class="row">
            <div class="col-4">
                Name:
            </div>
            <div class="col-4">
                <%= deck.name %>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Description:
            </div>
            <div class="col">
                <%= deck.description %>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Number of cards:
            </div>
            <div class="col-4">
                <%= deck.cards ? deck.cards.length : 0 %>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Date created:
            </div>
            <div class="col-4">
                <%= deck.date_created.toLocaleDateString('de-DE') %>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Times studied:
            </div>
            <div class="col-4">
                <%= deck.times_studied %>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Last studied:
            </div>
            <div class="col-4">
                <%= deck.last_studied ? deck.last_studied.toLocaleDateString('de-DE') : '-' %>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="notification">Study notifications:</label>
            </div>
            <div class="col-1">
                <div class="form-check form-switch">
                    <% let checked = deck.notification.enabled ? "checked" : ""%>
                    <input class="form-check-input" type="checkbox" id="notification" <%= checked %> disabled>
                </div>
            </div>
        </div>
        <% if (deck.notification.enabled) { %>
            <div class="row">
                <div class="col-1" style="width: 10px"></div>
                <div class="col">
                    Notification every <strong><%= deck.notification.days_between %></strong> day<%= deck.notification.days_between > 1 ? "s" : ""%>
                </div>
            </div>
            <div class="row">
                <div class="col-1" style="width: 10px"></div>
                <div class="col">
                    Starting from <strong><%= deck.notification.start_date.toLocaleDateString('de-DE') %></strong>
                </div>
            </div>
        <% } %>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 10px">
        <a href="<%= "/decks/" + deck._id + "/edit" %>" class="btn btn-outline-primary" style="width: 80px; margin: 2px">Edit</a>
        <a href="/decks" class="btn btn-outline-secondary" style="width: 80px; margin: 2px">Back</a>
    </div>
    <% if (deck.cards && deck.cards.length > 0) { %>
        <div class="text-center" style="margin-top:10px">
            <h3>Cards:</h3>
            <%- include('cards') %>
        </div>
    <% } %>
    </body>