<div class="text-center" style="margin-bottom: 10px">
    <h2>My decks</h2>
</div>
<div class="deck-grid">
    <div class="card deck">
        <div class="card-body align-content-center">
            <div class="row justify-content-center">
                <a href="/decks/create" class="btn btn-outline-primary" style="width: 50%">Create new</a>
            </div>
        </div>
    </div>
    <% decks.forEach(deck => { %>
        <div class="card deck">
            <div class="card-header">
                <h4><%= deck.name %></h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <strong>Description:</strong>
                    </div>
                    <div class="col">
                        <%= deck.description %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <strong>Note cards:</strong>
                    </div>
                    <div class="col">
                        <%= deck.cards ? deck.cards.length : 0 %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <strong>Last studied:</strong>
                    </div>
                    <div class="col">
                        <%= deck.last_studied ? deck.last_studied.toLocaleDateString('de-DE') : '-' %>
                    </div>
                </div>
            </div>
            <div class="card-footer row row-cols-4" style="margin-top: 10px">
                <div class="col">
                    <a class="btn btn-outline-primary" style="width:80px">Study</a>
                </div>
                <div class="col">
                    <a href="<%= "/decks/" + deck._id %>" class="btn btn-outline-secondary" style="width:80px">Details</a>
                </div>
                <div class="col">
                    <a href="<%= "/decks/" + deck._id + "/edit" %>" class="btn btn-outline-secondary" style="width:80px">Edit</a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-danger" style="width:80px">Delete</a>
                </div>
            </div>
        </div>
    <% }) %>
</div>