<div class="container user-container">

    <h2 class="text-center">Edit account</h2>
    <form method="post" action="/users/<%= user._id %>/update?_method=PUT">

        <table class="table user-table">

            <colgroup>
                <col style="width: 100px"/>
                <col style="width: 100px"/>
                <col style="width: 100px"/>
            </colgroup>

            <tr>
                <td colspan="1">
                    <label for="firstName">First name:</label>
                </td>
                <td colspan="2">
                    <input id="firstName"
                           name="firstName"
                           type="text"
                           value="<%= user.name.first %>"
                           placeholder="First name"
                           autofocus
                    >
                </td>
            </tr>

            <tr>
                <td colspan="1">
                    <label for="lastName">Last name:</label>
                </td>
                <td colspan="2">
                    <input id="lastName"
                           name="lastName"
                           type="text"
                           value="<%= user.name.last %>"
                           placeholder="Last name">
                </td>
            </tr>

            <tr>
                <td colspan="1">
                    <label for="email">Email:</label>
                </td>
                <td colspan="2">
                    <input id="email"
                           name="email"
                           type="email"
                           placeholder="Email"
                           value="<%= user.email %>"
                           required>
                </td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2">
                    <a href="/users/<%= user._id %>/edit/password">Change password</a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </td>
                <td></td>
            </tr>

        </table>
    </form>
</div>
